html,body {
    margin: 0;
}

body {
    font-family: "Noto Sans JP";
    color: #2b2b2b;
    background-color: #e7e7eb;
}

header {
    padding: 0 20px;
}

#content {
    display: grid;
    margin: auto;

    grid-template-columns: 600px 700px;
    height: 100%;
    width: fit-content;
}

#editor,#viewer {
    margin: 10px;
    margin-left: 0;
    padding: 15px;
    border: solid 4px #2b2b2b;
    border-radius: 15px;
}

#editor {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 15px;
}

.item input[type="text"] {
    font-family: "Noto Sans JP";
    width: 250px;
    height: 35px;
    outline: 1px solid #2b2b2b;
    border-radius: 5px;
    border: solid 1px #cccccc;
    font-size: 15px;
    padding: 0 10px;
}

#icon_editor {
    display:grid;
    grid-template-columns: 1fr 120px 200px;
}

#img_selector {
    font-family: "Noto Sans JP";
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 0;
    border-radius: 10px;
    background-color: #726f6f;
    color: #e7e7eb;
    font-size: larger;
    border: solid 2px #ffffff;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#img_selector:hover:not(:disabled) {
    background-color: #2b2b2b;
}

#img_selector:disabled {
    cursor: no-drop;
    background-color: #5c5a5a;
}

#icon_enabled {
    margin-top: 15px;
    height: 15px;
    width: 15px;
}

label[for="icon_enabled"] {
    margin: 15px;
}

.object input[type="radio"] {
    width: 25px;
    height: 17px;
}

#preview {
    display: grid;
    grid-template-columns: 48px 128px;
    grid-template-areas:
    "sbig big"
    "medium big"
    "small big";
    gap: 10px;
}

#preview img {
    margin-left: auto;
}

.checkbox {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

label {
    margin:5px;
    font-weight: bolder;
    font-size: small;
    margin-left: 3px;
    height: 15px;
    line-height: 15px;
    user-select: none;
}

h2,h3 {
    margin:5px;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    margin-top: 10px;
}

#permissions input.checkbox + label,
#permissions input.checkbox {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

.code-block {
    background: #1e1e1e;
    color: #d4d4d4;
    padding: 12px;
    border-radius: 6px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 1.5;
    overflow-x: auto;
    white-space: pre;
}

#generate {
    font-family: "Noto Sans JP";
    border-radius: 10px;
    font-size: 15px;
    margin-left: 480px;
    background-color: #5d5d94;
    border: solid 3px #d4d4d4;
    color: #e9e9e9;
    width: 170px;
    height: 50px;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#generate:hover {
    background-color: #4e4e7c;
}